<h2> My Big Organisation GmbG | <a routerLink="/impressum">Impressum </a> | <a routerLink="/agb"> AGB </a> </h2>
<img src="../../assets/business.jpg" alt="Business" style="width:320x;height:213px;">
<nav>
    <a class="button" routerLink="/organisation" routerLinkActive="activebutton">Organisation </a>
    <a class="button" routerLink="/projects" routerLinkActive="activebutton">Projekte</a>
    <a class="button" routerLink="/customers" routerLinkActive="activebutton">Kunden</a>
    <a class="button" routerLink="/downloads" routerLinkActive="activebutton">Downloads</a>
    <a class="button" routerLink="/news" routerLinkActive="activebutton"> News </a>
    <a class="button" routerLink="/support" routerLinkActive="activebutton">Support</a>
    <a class="button" routerLink="/contact" routerLinkActive="activebutton">Kontakt</a> 
</nav>
